<h2> Listing folders </h2>

<div id="new-folder-container">
	<input type="button" value="New Folder" id="new-folder"> 
</div>

<div id="menu-container">
	<ul id="menu">
		<% @folders.sort_by{ |folder| folder.id}.each do |folder| %>
				<li><%= link_to folder.name, folder %> </li>
		<% end %>	
	</ul>
</div>

<div id="new-dialog"> </div>

<%= render :partial => "folders.js" %>