<h2><%= @folder.name %> </h2>


<div class="note" contenteditable="true">

</div>

<input type="button" value="New" class="new">

<%= javascript_include_tag "folders" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />