<h2><%= @folder.name %> </h2>

<div class="note">

</div>

<input type="button" value="New" id="new-note">

<%= render :partial => "notes.js" %>
<%= render :partial => "folders.js" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />