<h2><%= @folder.name %> </h2>



<div class="note">
</div>

<input type="button" value="New Note" id="new-note">
<input type="button" value="Back" id="back">
<br/>
<% if @folder.name != "Default" %>
<input type="button" value="Delete Folder" id="delete-folder">
<% end %>

<div id="dialog-select" title="Choose a folder to move to">

</div>

<%= render :partial => "notes.js" %>
<%= render :partial => "notes_init.js" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/ui-lightness/jquery-ui.css" />